<!-- <head>
    <style>
        table {
            border-collapse: collapse;
        }
        th {
            background-color:yellowgreen;
            Color:white;
        }
        th, td {
            
            text-align:center;
            border:2px solid black;
            
        }
     
    </style>
    </head>


<p *ngIf="books.length==0">No Flights are there to View</p>
<table *ngIf="books.length>0">
    <tr>
        <th>PNR NUMBER</th>
        <th>NAME</th>
        <th>Email</th>
        <th>SEATS BOOKED</th>
        <th>MEAL</th>
        <th>FLIGHT NUMBER</th>
        <th>FLIGHT NAME</th>
        <th>PRICE</th>
        <th>CUPON CODE</th>

        
    </tr>
    <tr *ngFor="let book of books">
        <td>{{book.pnrNum}}</td>
        <td>{{book.name}}</td>
        <td>{{book.mailId}}</td>
        <td>{{book.seats}}</td>

        <td>{{book.mealType}}</td>
        <td>{{book.flightNum}}</td>
        <td>{{book.flightName}}</td>
        <td>{{book.cost}}</td>
     
        <td>{{book.cuponCode}}</td>

    </tr>
</table> -->
