

<p></p>
<a  routerLink="create">Create flight</a> |
<a   routerLink="cupons">Create cupon</a> |
<a   routerLink="viewcupon">Manage Cupons</a> |
<a  routerLink="flights">All flights</a> |
<a  routerLink="reschedule">Reschedule flight</a> |
<a  routerLink="logout" style="font-family: background-origin, 'Times New Roman', Times, serif padding-box;; color:crimson">Logout</a>
<p></p>
<router-outlet></router-outlet>
