<mat-toolbar color="primary" class="mat-elevation-z8">
    
    <span>
        <mat-icon>language</mat-icon>
        CTS FLIGHT
    </span>
    <div class="spacer"></div>
    <a mat-button routerLink="user" >User</a>
    <a  mat-button routerLink="admin" >Admin</a>
  </mat-toolbar>
