<head>
    <style>
        table {
            border-collapse: collapse;
        }
        th {
            background-color:yellowgreen;
            Color:white;
        }
        th, td {
            
            text-align:center;
            border:2px solid black;
            
        }
     
    </style>
    </head>
<p></p>

<br>
<table *ngIf="cupons.length>0" align="center">
    <tr>
        <th>CUPON CODE</th>
        <th>DISCOUNT</th>
        <th>MODIFY</th>

        
    </tr>
    <tr *ngFor="let cupon of cupons">
        <td>{{cupon.code}}</td>
        <td>{{cupon.discount}}</td>
        <td><button type="button" class="btn btn-success" (click)="modifyCupon(cupon.code)">Modify</button></td>
    </tr>
</table>
