
<p></p>
<br>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }
            th {
                background-color:yellowgreen;
                Color:white;
            }
            th, td {
                
                text-align:center;
                border:2px solid black;
                Color:black;
                
            }
         
        </style>
        </head> 
       
        <style>  
            html {   
                height: 50%;   
            }  
            body {   
                height: 100%;   
            }  
            .global-container {  
                height: 50%;  
                display: flex;  
                align-items: center;  
                justify-content: center;  
                background-color: #f5f5f5;  
            }  
            form {  
                padding-top: 5px;  
                font-size: 14px;  
                margin-top: 10px;  
            }  
            .card-title {   
            font-weight: 300;  
             }  
            .btn {  
                font-size: 14px;  
                margin-top: 20px;  
            }  
            .login-form {   
                width: 330px;  
                margin: 10px;  
            }  
            .sign-up {  
                text-align: center;  
                padding: 20px 0 0;  
            }  
            .alert {  
                margin-bottom: -30px;  
                font-size: 13px;  
                margin-top: 20px;  
            }  
    
            </style>  
            <html>
            <body>  
            <div class="pt-5">  
              <div class="global-container">  
                <div class="card login-form">  
                <div class="card-body">  
                    <h3 class="card-title text-center">  </h3>  
                    <div class="card-text">  
                        <form #sub="ngForm" (ngSubmit)=" create()">  
                            <div class="form-group">  
                                <label for="code"> Cupon Id </label>  
                                <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" for="couponcode" name="couponcode" class = "form-control" [(ngModel)]="code">  
                            </div>  
                                <div class="form-group">  
                                <label for="toPlace"> Discount </label>  
                                <input type="number" class="form-control form-control-sm" aria-describedby="emailHelp" for="discount"  name="discount" class = "form-control"   [(ngModel)]="discount">  
                            </div>
                            
           
                  
                            <button type="submit" class="btn btn-primary btn-block" > Add Cupon </button>  
                              
                        
                        </form>  
                    </div>  
                </div>  
            </div>  
            </div>
            </div>  
          
        </body> 

    </html>

    





