
<html>  
<html lang="en" >  
<head>  
  <meta charset="UTF-8">  
  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">  
</head>  
<style>  
html {   
    height: 100%;   
}  
body {   
    height: 100%;   
}  
.global-container {  
    height: 100%;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    background-color: #f5f5f5;  
}  
form {  
    padding-top: 10px;  
    font-size: 14px;  
    margin-top: 30px;  
}  
.card-title {   
font-weight: 300;  
 }  
.btn {  
    font-size: 14px;  
    margin-top: 20px;  
}  
.login-form {   
    width: 330px;  
    margin: 20px;  
}  
.sign-up {  
    text-align: center;  
    padding: 20px 0 0;  
}  
.alert {  
    margin-bottom: -30px;  
    font-size: 13px;  
    margin-top: 20px;  
}  
</style>  
<body>  
<div class="pt-5">  
  <div class="global-container">  
    <div class="card login-form">  
    <div class="card-body">  
        <h3 class="card-title text-center"> Book Your Tour </h3>  
        <div class="card-text">  
            <form>  
                <div class="form-group">  
                    <label for="fnumber"> Enter Flight Number </label>  
                    <input type="number" class="form-control form-control-sm"  id="fnumber" placeholder="Flight Number"   name="fnumber" [(ngModel)]="fnumber">  
                </div>  
                <div class="form-group">  
                    <label for="name">Enter Name </label>  
                     
                    <input type="text" class="form-control form-control-sm"  id="name" placeholder="Name"  name="name" [(ngModel)]="name">  
                 </div>  
				 <div class="form-group">  
                    <label for="inputEmail">Enter Email </label>  
                     
                    <input type="email" class="form-control form-control-sm"  id="inputEmail" placeholder="Email"  name="email" [(ngModel)]="email">  
                </div> 
				    
				 
                <label for="Meal">Select Meal </label>  
                    
				   <div class="form-check"> 
                    <input type="radio" class="form-check-input" id="meal" name="meal" value="Veg"  [(ngModel)]="meal" checked>
                    <label class="form-check-label" for="meal">Veg</label>
                  </div>
                  <div class="form-check"> 
                    <input type="radio" class="form-check-input" id="Veg" name="meal" value="Non Veg" [(ngModel)]="meal">
                    <label class="form-check-label" for="meal">Non-Veg</label>
                    </div>
               
                    
				<div class="form-group">  
                    <label for="seats">Tickets </label>  
                     
                    <input type="number" class="form-control form-control-sm"  id="seats" placeholder="seats"  name="seats" [(ngModel)]="seats">  
                 </div> 
				  
				 <div class="form-group">  
                    <label for="seats">Apply Cupon </label>  
                       <select class="custom-select custom-select-sm" [(ngModel)]="cupon" name="cupon" id="cupon" >
                       <option selected>Open this select menu</option>
                       <option *ngFor="let cup of cupons" [ngValue]="cup">
                        {{ cup.code }}
                    </option>
>
                       </select>
                      
                 </div> 
    
				<div class="form-group">  
                    <label for="pname">Name </label>  
                     
                    <input type="text" class="form-control form-control-sm"  id="pname" placeholder="Passenger Name"  name="pname" [(ngModel)]="pname">  
                 </div>
				
             <label for="gender">Gender </label>  
					
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="gender" name="gender" value="Male"   id="gender"   [(ngModel)]="gender" checked ="true">
                       <label class="form-check-label" for="Gender">Male</label>
                   </div>
                   <div class="form-check">
                    <input type="radio" class="form-check-input" id="gender" name="gender" value="Female" [(ngModel)]="gender">
                    <label class="form-check-label" for="gender">Female</label>
                 </div>  
                 <button type="submit" class="btn btn-primary btn-block"  (click)="addPassenger()"> Add passenger </button>   
               
                <button type="submit" class="btn btn-primary btn-block" (click)="bookFlight()"> Book </button>  
                  
  
            </form>  
        </div> 
        </div> 
    </div> 
    </div>
    
</div>  
  
</body>  
</html>  