<!-- 



<p></p>
<pre></pre>
<br>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }
            th {
                background-color:yellowgreen;
                Color:white;
            }
            th, td {
                
                text-align:center;
                border:2px solid black;
                
            }
         
        </style>
        </head> 

        <form align=center>
            <div class="row mb-3">
               
                <div class="col-sm-10">
                    <label for="fnumber" class="col-sm-2 col-form-label">Flight Number</label>&nbsp;&nbsp;
                    <input  class="form-control" type="number" name="fnumber" [(ngModel)]="fnumber">

                </div>
            </div><br>
            <div class="row mb-3">
               
                <div class="col-sm-10">
                    <label for="dtime" class="col-sm-2 col-form-label">Dept Time</label>&nbsp;&nbsp;
                    <input  class="form-control" type="text" name="dtime" [(ngModel)]="dtime">

                </div>
            </div><br>
            <div class="row mb-3">
                <div class="col-sm-10">
                    <label for="atime" class="col-sm-2 col-form-label">Arr Time</label>&nbsp;&nbsp;
                    <input  class="form-control" type="text" name="toPlace" [(ngModel)]="atime">
                </div>
            </div><br>
            <div class="row mb-3">
                <div class="col-sm-10">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Start Date</label>&nbsp;&nbsp;
                    <input c class="form-control" type="date" name="date" [(ngModel)]="sdate">
                </div>
                
            </div><br>
            <div class="row mb-3">
                <div class="col-sm-10">
                    <label for="inputEmail" class="col-sm-2 col-form-label">End Date</label>&nbsp;&nbsp;
                    <input class="form-control" type="date" name="date" [(ngModel)]="edate">
                </div>
                
            </div><br>

            <div class="row justify-content-center">
            <div class="col-md-3">
            <button  (click)="update()" class="srchbtn btn btn-success">
                Reschedule
                </button>
            </div>
            </div>
           
        </form> 
        
           <div class="row mb-3">

<p></p> -->


<p></p>
<br>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }
            th {
                background-color:yellowgreen;
                Color:white;
            }
            th, td {
                
                text-align:center;
                border:2px solid black;
                Color:black;
                
            }
         
        </style>
        </head> 
       
        <style>  
            html {   
                height: 50%;   
            }  
            body {   
                height: 100%;   
            }  
            .global-container {  
                height: 50%;  
                display: flex;  
                align-items: center;  
                justify-content: center;  
                background-color: #f5f5f5;  
            }  
            form {  
                padding-top: 5px;  
                font-size: 14px;  
                margin-top: 10px;  
            }  
            .card-title {   
            font-weight: 300;  
             }  
            .btn {  
                font-size: 14px;  
                margin-top: 20px;  
            }  
            .login-form {   
                width: 330px;  
                margin: 10px;  
            }  
            .sign-up {  
                text-align: center;  
                padding: 20px 0 0;  
            }  
            .alert {  
                margin-bottom: -30px;  
                font-size: 13px;  
                margin-top: 20px;  
            }  
    
            </style>  
            <html>
            <body>  
            <div class="pt-5">  
              <div class="global-container">  
                <div class="card login-form">  
                <div class="card-body">  
                    <h3 class="card-title text-center">  </h3>  
                    <div class="card-text">  
                        <form>  
                            <div class="form-group">  
                                <label for="fnumber"> Flight Number </label>  
                                <input type="number" class="form-control form-control-sm" aria-describedby="emailHelp" id="fnumber" type="number" name="fnumber" [(ngModel)]="fnumber">  
                            </div>  
                            <div class="form-group">  
                                <label for="dtime"> Departure Time </label>  
                                <input type="Time" class="form-control form-control-sm" aria-describedby="emailHelp" for="dtime" name="dtime" [(ngModel)]="dtime">  
                            </div>
							    
                                <div class="form-group">  
                                <label for="atime"> Arrival Time </label>  
                                <input type="Time" class="form-control form-control-sm" aria-describedby="emailHelp"  name="atime" [(ngModel)]="atime">  
                                 </div>
                            
                                 
                                <div class="form-group">  
                                <label for="sdate"> Start Date </label>  
                                <input type="date" class="form-control form-control-sm" aria-describedby="emailHelp" for="sdate" type="date" name="sdate" [(ngModel)]="sdate"> 
                                </div> 
								<div class="form-group">  
                                <label for="edate"> End Date </label>  
                                <input type="date" class="form-control form-control-sm" aria-describedby="emailHelp" for="sdate" name="edate" [(ngModel)]="edate"> 
                                </div> 


                  
                            <button type="submit" class="btn btn-primary btn-block"  (click)="update()"> Reschedule </button>  
                   
                        </form>  
                        </div>
                    </div>  
                </div>  
            </div>  
          
          </div>
          
        </body>
        </html>