<head>
    <!-- <style>
        table {
            border-collapse: collapse;
        }
        th {
            background-color:yellowgreen;
            Color:white;
        }
        th, td {
            
            text-align:center;
            border:2px solid;
            Color: white;
            
        }
     
    </style>-->
    </head>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }
            th {
                background-color:yellowgreen;
                Color:white;
            }
            th, td {
                
                text-align:center;
                border:2px solid black;
                
            }
         
        </style>
        </head>



<table *ngIf="flights.length>0">
    
    <tr>
        <th>FLIGHT NUMBER</th>
        <th>NAME</th>
        <th>FROM</th>
        <th>TO</th>
        <th>DEPT. TIME</th>
        <th>ARR. TIME</th>
        <th>START DATE</th>
        <th>END DATE</th>
        <th>BUISNESS SEATS</th>
        <th>N.BUISNESS SEATS</th>
        <th>STATUS</th>
        <th>ROWS</th>
        <th>COST</th>
        <th>DELETE</th>
        <th>BLOCK</th>
        <th>UNBLOCK</th>
        <th>RESCHEDULE</th>
        
    </tr>
    <tr *ngFor="let flight of flights">
        <td>{{flight.flightNum}}</td>
        <td>{{flight.airlineName}}</td>
        <td>{{flight.fromPlace}}</td>
        <td>{{flight.toPlace}}</td>

        <td>{{flight.depTime}}</td>
        <td>{{flight.arrTime}}</td>
        <td>{{flight.startDate}}</td>
        <td>{{flight.endDate}}</td>
     
        <td>{{flight.buisnesSeat}}</td>
        <td>{{flight.nonBuisnessSeat}}</td>
        <td>{{flight.flyingStatus}}</td>
        <td>{{flight.rows}}</td>
        <td>{{flight.cost}}</td>
        

        <td><button type="button"  class="btn btn-danger" (click)="deleteFlight(flight.flightNum)">Delete</button></td>
        <td><button type="button" class="btn btn-info" (click)="block(flight.flightNum,flight.flyingStatus)" [disabled]="flight.flyingStatus=='blocked'">Block</button></td>
       
        <td><button type="button" class="btn btn-warning" (click)="block(flight.flightNum,flight.flyingStatus)" [disabled]="flight.flyingStatus=='flying'">UnBlock</button></td>
        <td><button type="button"  class="btn btn-success" (click)="reschedule(flight.flightNum)">Reschedule</button></td>
    </tr>
</table>
