
<p></p>
<br>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }
            th {
                background-color:yellowgreen;
                Color:white;
            }
            th, td {
                
                text-align:center;
                border:2px solid black;
                Color:black;
                
            }
         
        </style>
        </head> 
       
        <style>  
            html {   
                height: 50%;   
            }  
            body {   
                height: 100%;   
            }  
            .global-container {  
                height: 50%;  
                display: flex;  
                align-items: center;  
                justify-content: center;  
                background-color: #f5f5f5;  
            }  
            form {  
                padding-top: 5px;  
                font-size: 14px;  
                margin-top: 10px;  
            }  
            .card-title {   
            font-weight: 300;  
             }  
            .btn {  
                font-size: 14px;  
                margin-top: 20px;  
            }  
            .login-form {   
                width: 330px;  
                margin: 10px;  
            }  
            .sign-up {  
                text-align: center;  
                padding: 20px 0 0;  
            }  
            .alert {  
                margin-bottom: -30px;  
                font-size: 13px;  
                margin-top: 20px;  
            }  
    
            </style>  
            <html>
            <body>  
            <div class="pt-5">  
              <div class="global-container">  
                <div class="card login-form">  
                <div class="card-body">  
                    <h3 class="card-title text-center">  </h3>  
                    <div class="card-text">  
                        <form>  
                            <div class="form-group">  
                                <label for="fromPlace"> Flying From </label>  
                                <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" for="fromPlace" name="fromPlace" [(ngModel)]="fromPlace">  
                            </div>  
                                <div class="form-group">  
                                <label for="toPlace"> Flying To </label>  
                                <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" for="toPlace" name="toPlace" [(ngModel)]="toPlace">  
                            </div>
                            
                                 
                                <div class="form-group">  
                                <label for="date">Departure Date </label>  
                                <input type="date" class="form-control form-control-sm" aria-describedby="emailHelp" for="date"  name="date" [(ngModel)]="date"> 
                                </div> 

                          <div class="form-check">
                                <input type="radio" class="form-check-input" id="one" name="trip" value="one"  [(ngModel)]="trip" checked>
                                <label class="form-check-label" for="one" aria-checked="true"> One Way</label>
                            </div>
                           
                            <div class="form-check">
                            <input type="radio" class="form-check-input" id="two" name="trip" value="two" [(ngModel)]="trip">
                            <label class="form-check-label" for="two">Round Way</label>
                            </div>
                  
                            <button type="submit" class="btn btn-primary btn-block"  (click)="search()"> search </button>  
                              
                        
                        </form>  
                    </div>  
                </div>  
            </div>  
            </div>
            </div>  
          
        </body> 
         
             
     
        
        

<h1 style="color:red" align="center">{{msg}}</h1>


    <p></p>
    
    <table  align="center" *ngIf="flights.length>0">

        <tr>
            <th>FLIGHT NUMBER</th>
            <th>NAME</th>
            <th>FROM</th>
            <th>TO</th>
            <th>DEPT. TIME</th>
            <th>ARR. TIME</th>
            <th>START DATE</th>
            <th>END DATE</th>
            <th>BUISNESS SEATS</th>
            <th>N.BUISNESS SEATS</th>
            <th>STATUS</th>
            <th>ROWS</th>
            <th>COST</th>
            <th>BOOK</th>

            
        </tr>
        <tr *ngFor="let flight of flights">
            <td>{{flight.flightNum}}</td>
            <td>{{flight.airlineName}}</td>
            <td>{{flight.fromPlace}}</td>
            <td>{{flight.toPlace}}</td>
    
            <td>{{flight.depTime}}</td>
            <td>{{flight.arrTime}}</td>
            <td>{{flight.startDate}}</td>
            <td>{{flight.endDate}}</td>
         
            <td>{{flight.buisnesSeat}}</td>
            <td>{{flight.nonBuisnessSeat}}</td>
            <td>{{flight.flyingStatus}}</td>
            <td>{{flight.rows}}</td>
            <td>{{flight.cost}}</td>
            
    
            <td><button type="button" class="btn btn-info" (click)="bookFlight(flight.flightNum)">Book</button></td>


        </tr>
    </table>
    </html>

    