
<!--   
<app-headercomponent></app-headercomponent>

<router-outlet></router-outlet>   -->




          
<div class="parent">
    <div class="image">
        

<app-headercomponent></app-headercomponent>

<router-outlet></router-outlet>
    </div>
</div>



