.image{
  background-image:url('C:/Users/User/Desktop/Jeet.cts/Angular_projects/FlightAngular/src/assets/images/1.jpg');
  background-position:50% 50%;
  height: 64em;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#parent{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
