

<head>
  <style>
      table {
          border-collapse: collapse;
      }
      th {
          background-color:yellowgreen;
          Color:white;
      }
      th, td {
          
          text-align:center;
          border:2px solid black;
          
      }
   
  </style>
  </head>
  <html lang="en" >  
<head> 
  <meta charset="UTF-8">  
  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">  
</head>  
<style>  
html {   
    height: 100%;   
}  
body {   
    height: 100%;   
}  
.global-container {  
    height: 100%;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    background-color: #f5f5f5;  
}  
form {  
    padding-top: 10px;  
    font-size: 14px;  
    margin-top: 30px;  
}  
.card-title {   
font-weight: 300;  
 }  
.btn {  
    font-size: 14px;  
    margin-top: 20px;  
}  
.login-form {   
    width: 330px;  
    margin: 20px;  
}  
.sign-up {  
    text-align: center;  
    padding: 20px 0 0;  
}  
.alert {  
    margin-bottom: -30px;  
    font-size: 13px;  
    margin-top: 20px;  
}  
</style>  
<body>  
<div class="pt-5">  
  <div class="global-container">  
    <div class="card login-form">  
    <div class="card-body">  
        <h3 class="card-title text-center">  </h3>  
        <div class="card-text">  
            <form>  
                <div class="form-group">  
                    <label for="pnr"> Enter Pnr Bumber </label>  
                    <input type="text" class="form-control form-control-sm" id="pnr" name="pnr" aria-describedby="emailHelp" placeholder="Enter pnr" [(ngModel)]="pnr">  
                </div>  
      
                <button type="submit" class="btn btn-primary btn-block"  (click)="getDetails()"> details </button>  
                  
            
            </form>  
        </div>  
    </div>  
</div>  
</div> 
</div> 
  

<p></p>
<table *ngIf=!!book.name align="center">
    <tr>
        <th>PNR NUMBER</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>MEAL</th>
        <th>SEATS</th>
        <th>FLIGHT NUMBER</th>
        <th>FLIGHT NAME</th>
        <th>PRICEE</th>
        <th>CUPON</th>

        
    </tr>
    <tr >
        <td>{{book.pnrNum}}</td>
        <td>{{book.name}}</td>
        <td>{{book.mailId}}</td>
        <td>{{book.mealType}}</td>

        <td>{{book.seats}}</td>
        <td>{{book.flightNum}}</td>
        <td>{{book.flightName}}</td>
        <td>{{book.cost}}</td>
     
        <td>{{book.cuponCode}}</td>
        
    </tr>
</table>
<p></p>
<p *ngIf=!!book.passenger  style="text-align: center;background-color:cornflowerblue;color: cornsilk;">Passenger details </p>
<table *ngIf=!!book.passenger align="center">

    <tr>
        <th>PASSENGGER NAME</th>
        <th>GENDER</th>
        
    </tr>
    <tr *ngFor="let passenger of book.passenger">
        <th>{{passenger.name}}</th>
        <th>{{passenger.gender}}</th>


        
    </tr>

</table>


</body>
</html>


