

<p></p>
<a  routerLink="book" >BookFlight</a> |
<a routerLink="search">SearchFlight</a> |
<a   routerLink="history">History</a> |
<a  routerLink="booking" >Booking Deatails</a> | 
<a  routerLink="cancel" >Cancel Ticket</a> |
<a   routerLink="download" >Download Ticket</a> |
<a   routerLink="Logout" style="color: orangeredr;" >Logout</a> |
<p></p>


<router-outlet></router-outlet>
