<!-- <p></p>
   
   <head>
    <style>
        form {
                width: 550px;
                height: 450px;
                width : 550px;
                 height: 450px;
                margin: auto;
                position: center;
        }
     
    </style>
    </head>


<div class="container " style="text-align: center;">
    <h3 style=" font:bold royalblue;">Add Airline</h3>
    <form #loginForm="ngForm" (ngSubmit)="addFlight()">
    <div class="form-group">
    <label class="control-label col-sm-4" for="flightNumber">Flight Number:</label>
    <div class="col-sm-10" style="margin-left: 20%;width: 70%;">
    <input type="number" class="form-control" id="flightNumber" placeholder="Enter flightNumber" 
            name="email" [(ngModel)]="flightNumber"
            >
    
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-4" for="flightName">Flight Name:</label>
    <div class="col-sm-10" style="margin-left: 20%;width: 70%;">
    <input type="text" class="form-control" id="flightName" placeholder="Enter flight Name" 
            name="email" [(ngModel)]="flightName"
            >
    
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-4" for="fplace">From Place:</label>
    <div class="col-sm-10" style="margin-left: 20%;width: 70%;">
    <input type="text" class="form-control" id="fplace" placeholder="From" 
            name="email" [(ngModel)]="fplace"
            >
    
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-sm-4" for="tplace">To Place:</label>
    <div class="col-sm-10" style="margin-left: 20%;width: 70%;">
    <input type="text" class="form-control" id="tplace" placeholder="TO" 
            name="email" [(ngModel)]="tplace"
            >
    
    </div>
    </div>
    
    <div class="form-group">
    <label class="control-label col-sm-4" for="tplace">Start Date:</label>
    <div class="col-sm-10" style="margin-left: 20%;width: 70%;">
    <input type="date" class="form-control" id="sdate" placeholder="Start Date" 
            name="sdate" [(ngModel)]="sdate"
            >
    
    
    
    </div>
    </div>
    
    <div class="form-group">
    <label class="control-label col-sm-4" for="tplace">End Date:</label>
    <div class="col-sm-10" style="margin-left: 20%;width: 70%;">
    <input type="date" class="form-control" id="edate" placeholder="End Date" 
            name="edate" [(ngModel)]="edate"
            >
    
    
    
    </div>
    </div>
    
    <div class="form-group">
    <label class="control-label col-sm-4" for="tplace">Departure Time:</label>
    <div class="col-sm-10" style="margin-left: 20%;width: 70%;">
    <input type="text" class="form-control" id="dtime" placeholder="Departure Time" 
            name="dtime" [(ngModel)]="dtime"
            >
    
    
    
    </div>
    </div>
    
    <div class="form-group">
    <label class="control-label col-sm-4" for="tplace">Arrival Time:</label>
    <div class="col-sm-10" style="margin-left: 20%;width: 70%;">
    <input type="text" class="form-control" id="atime" placeholder="Arrival Time" 
            name="atime" [(ngModel)]="atime"
            >
    
    
    
    </div>
    </div>
    
    
    <div class="form-group" >
    <label class="control-label col-sm-5" for="businessClassSeats">Business Class Seats:</label>
    <div class="col-sm-10" style="margin-left: 20%;width: 70%;">          
    <input type="text" class="form-control" id="businessClassSeats" placeholder="Enter businessClassSeats"
                    name="businessClassSeats" [(ngModel)]="businessClassSeats"
                    >
    </div>
    </div>
    <div class="form-group" >
        <label class="control-label col-sm-5" for="nonBusinessClassSeats"> Non-Business Class Seats:</label>
        <div class="col-sm-10" style="margin-left: 20%;width: 70%;">          
        <input type="text" class="form-control" id="nonBusinessClassSeats" placeholder="Enter nonBusinessClassSeats"
                        name="nonBusinessClassSeats" [(ngModel)]="nonBusinessClassSeats"
                        >
        </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-5" for="Flying Dates"> Flying Days:</label>
            <div class="col-sm-10" style="margin-left: 20%;width: 70%;">          
            <input type="date" class="form-control" id="scheduledDays" placeholder="Enter Flying Days"
                            name="scheduledDays" [(ngModel)]="scheduledDays"
                            >
            </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-sm-5" for="ticketCost"> Ticket Cost:</label>
                <div class="col-sm-10" style="margin-left: 20%;width: 70%;">          
                <input type="number" class="form-control" id="ticketCost" placeholder="Enter ticketCost"
                                name="ticketCost" [(ngModel)]="ticketCost"
                                >
                </div>
                </div>
    
                        <div class="form-group" >
                            <label class="control-label col-sm-5" for="status"> Status:</label>
                            <div class="col-sm-10" style="margin-left: 20%;width: 70%;">          
                            <input type="text" class="form-control" id="status" placeholder="Enter status"
                                            name="status" [(ngModel)]="status"
                                            >
                            </div>
                            </div>
                
                                <div class="form-group" >
                                <label class="control-label col-sm-2" for="instrumentUsed">Instrument:</label>
                                <div class="col-sm-10" style="margin-left: 20%;width: 70%;">          
                                <input type="text" class="form-control" id="instrumentUsed" placeholder="Enter instrumentUsed"
                                            name="instrumentUsed" [(ngModel)]="instrumentUsed"
                                            >
                                </div>
                                </div>
          <div class="form-group" >
                                <label class="control-label col-sm-2" for="rows">Rows:</label>
                                <div class="col-sm-10" style="margin-left: 20%;width: 70%;">          
                                <input type="text" class="form-control" id="rows" placeholder="Enter Rows"
                                            name="rows" [(ngModel)]="rows"
                                            >
                                </div>
                                </div>
          <div class="form-group" >
                                <label class="control-label col-sm-2" for="meal">Meal Type:</label>
                                <div class="col-sm-10" style="margin-left: 20%;width: 70%;">          
                                <input type="text" class="form-control" id="meal" placeholder="Enter Meal Type"
                                            name="meal" [(ngModel)]="meal"
                                            >
                                </div>
                                </div>
    <pre></pre>
    <div class="form-group">        
    <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-success" style="margin-left: 19%;">Add Flight</button>
    </div>
    </div>
    </form>
    </div>
     </div> -->
    
   




     <p></p>
     <br>
         <head>
             <style>
                 table {
                     border-collapse: collapse;
                 }
                 th {
                     background-color:yellowgreen;
                     Color:white;
                 }
                 th, td {
                     
                     text-align:center;
                     border:2px solid black;
                     Color:black;
                     
                 }
              
             </style>
             </head> 
            
             <style>  
                 html {   
                     height: 50%;   
                 }  
                 body {   
                     height: 100%;   
                 }  
                 .global-container {  
                     height: 50%;  
                     display: flex;  
                     align-items: center;  
                     justify-content: center;  
                     background-color: #f5f5f5;  
                 }  
                 form {  
                     padding-top: 5px;  
                     font-size: 14px;  
                     margin-top: 10px;  
                 }  
                 .card-title {   
                 font-weight: 300;  
                  }  
                 .btn {  
                     font-size: 14px;  
                     margin-top: 20px;  
                 }  
                 .login-form {   
                     width: 330px;  
                     margin: 10px;  
                 }  
                 .sign-up {  
                     text-align: center;  
                     padding: 20px 0 0;  
                 }  
                 .alert {  
                     margin-bottom: -30px;  
                     font-size: 13px;  
                     margin-top: 20px;  
                 }  
         
                 </style>  
                 <html>
                 <body>  
                 <div class="pt-5">  
                   <div class="global-container">  
                     <div class="card login-form">  
                     <div class="card-body">  
                         <h3 class="card-title text-center">  </h3>  
                         <div class="card-text">  
                             <form>  
                                 <div class="form-group">  
                                     <label for="flightNumber"> Flight Number </label>  
                                     <input type="number" class="form-control form-control-sm" aria-describedby="emailHelp" id="flightNumber"  name="flightNumber" [(ngModel)]="flightNumber">  
                                 </div> 
                                 <div class="form-group">  
                                     <label for="flightName"> Flight Name </label>  
                                     <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" id="flightName"  name="flightName" [(ngModel)]="flightName">  
                                 </div> 
                    
                                <div class="form-group">  
                                     <label for="fplace"> Flying From </label>  
                                     <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" id="fplace"  name="fplace"  [(ngModel)]="fplace">  
                                 </div> 
                                 <div class="form-group">  
                                     <label for="tplace"> Flying To </label>  
                                     <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" id="tplace"  name="tplace"  [(ngModel)]="tplace">  
                                 </div> 
                                     <div class="form-group">  
                                     <label for="dtime"> Departure Time </label>  
                                     <input type="time" class="form-control form-control-sm" aria-describedby="emailHelp" for="dtime" name="dtime" [(ngModel)]="dtime">  
                                     </div>
                                                
                                     <div class="form-group">  
                                     <label for="atime"> Arrival Time </label>  
                                     <input type="time" class="form-control form-control-sm" aria-describedby="emailHelp"  name="atime" [(ngModel)]="atime">  
                                      </div>
                                 
                                      
                                     <div class="form-group">  
                                     <label for="sdate"> Start Date </label>  
                                     <input type="date" class="form-control form-control-sm" aria-describedby="emailHelp" for="sdate" type="date" name="sdate"  [(ngModel)]="sdate"> 
                                     </div> 
                                   <div class="form-group">  
                                     <label for="edate"> End Date </label>  
                                     <input type="date" class="form-control form-control-sm" aria-describedby="emailHelp" for="edate" name="edate"  [(ngModel)]="edate"> 
                                     </div> 
                                 <div class="form-group">  
                                     <label for="businessClassSeats"> Buisness Seats </label>  
                                     <input type="number" class="form-control form-control-sm" aria-describedby="emailHelp" id="businessClassSeats"  name="businessClassSeats" [(ngModel)]="businessClassSeats">  
                                 </div> 
                                 <div class="form-group">  
                                     <label for="nonBusinessClassSeats"> Economic Seat </label>  
                                     <input type="number" class="form-control form-control-sm" aria-describedby="emailHelp" id="nonBusinessClassSeats"  name="nonBusinessClassSeats" [(ngModel)]="nonBusinessClassSeats">  
                                 </div> 
                                                             
                                 <div class="form-group">  
                                     <label for="scheduledDays"> Flying Dates </label>  
                                     <input type="date" class="form-control form-control-sm" aria-describedby="emailHelp" for="scheduledDays" type="date" name="scheduledDays"  [(ngModel)]="scheduledDays"> 
                                 </div> 
                                 
                                <div class="form-group">  
                                     <label for="ticketCost"> Ticket Cost </label>  
                                     <input type="number" class="form-control form-control-sm" aria-describedby="emailHelp" id="ticketCost"  name="ticketCost" [(ngModel)]="ticketCost">  
                                 </div> 
                                 <div class="form-group"> 
                                        <label for="rows"> Flight Status</label>
                                        </div> 
                                 <div class="form-check">
                                  <input type="radio" class="form-check-input" id="one" name="status" value="flying"   name="status" [(ngModel)]="status" checked>
                                   <label class="form-check-label" for="status">Flying</label>
                                     </div>
                                     <div class="form-check">
                                     <input type="radio" class="form-check-input" id="blocked" value="blocked" name="status" [(ngModel)]="status">
                                     <label class="form-check-label" for="blocked">Blocked</label>
                                     </div>
                                 <div class="form-group">  
                                     <label for="instrumentUsed"> Instrument </label>  
                                     <input type="text" class="form-control form-control-sm" aria-describedby="emailHelp" id="instrumentUsed"  name="instrumentUsed" [(ngModel)]="instrumentUsed">  
                                 </div> 
                                                             
                                <div class="form-group">  
                                     <label for="rows"> Rows </label>  
                                     <input type="number" class="form-control form-control-sm" aria-describedby="emailHelp" id="rows"  name="rows" [(ngModel)]="rows">  
                                 </div> 
                       
                                 
                                 <div class="form-group"> 
                                <label for="rows"> Meal Type </label>
                                </div> 
                                <div class="form-check">
                                <input type="radio" class="form-check-input" id="meal" value="Veg"   name="meal" [(ngModel)]="meal" checked>
                                <label class="form-check-label" for="status">Veg</label>
                                </div>
                                     <div class="form-check">
                                     <input type="radio" class="form-check-input" id="meal" value="Non Veg" name="meal" [(ngModel)]="meal">
                                     <label class="form-check-label" for="status">Non Veg</label> 
                                     
                             </div>
                             <button type="submit" class="btn btn-primary btn-block"  (click)="addFlight()"> Add Flight </button> 
                             </form>  
                         </div>  
                     </div>  
                 </div>  
                 </div>
                 </div>  
               
             </body>