 
<head>  
  <meta charset="UTF-8">  
  <title> Bootstrap 4 Login Form Example  
 </title>  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">  
</head>  
<style>  
html {   
    height: 100%;   
}  
body {   
    height: 100%;   
}  
.global-container {  
    height: 100%;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    background-color: #f5f5f5;  
}  
form {  
    padding-top: 10px;  
    font-size: 14px;  
    margin-top: 30px;  
}  
.card-title {   
font-weight: 300;  
 }  
.btn {  
    font-size: 14px;  
    margin-top: 20px;  
}  
.login-form {   
    width: 330px;  
    margin: 20px;  
}  
.sign-up {  
    text-align: center;  
    padding: 20px 0 0;  
}  
.alert {  
    margin-bottom: -30px;  
    font-size: 13px;  
    margin-top: 20px;  
}  
</style>  
<body>  
<div class="pt-5">  
  <div class="global-container">  
    <div class="card login-form">  
    <div class="card-body">  
        <h3 class="card-title text-center">  </h3>  
        <div class="card-text">  
            <form>  
                <div class="form-group">  
                    <label for="pnr"> Enter Pnr Number </label>  
                    <input type="text" class="form-control form-control-sm" id="pnr" name="pnr" aria-describedby="emailHelp" placeholder="Enter pnr" [(ngModel)]="pnr">  
                </div>  
      
                <button type="submit" class="btn btn-primary btn-block"  (click)="download()">Download</button>
                  
            
            </form>  
        </div>  
    </div>  
</div>  
</div>  
 

<p>{{msg}}</p>

